In [1]:
import pandas as pd

C:\Users\wzy\AppData\Local\Temp\ipykernel_48272\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [11]:
df = pd.read_csv('news_attributes.csv', index_col=0)

In [12]:
df.head(3)

,attribute0,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,attribute10,attribute11,attribute12,attribute13,attribute14,attribute15,attribute16,attribute17,attribute18
0,2024-02-21T21:53:56Z,Newsdesk,wrap-up,Coca-Cola Consolidated Q4 Adj $13.39 Down From...,0.0,0,0.000000,NaN,0,0,-1,5,0,0,1,0.000000,0,[],"{'index': 0, 'url': 'https://www.benzinga.com/..."
1,2024-02-21T10:09:04Z,Insights,wrap-up,"Earnings Scheduled For February 21, 2024",1.0,0,0.000578,0.0,164,162,-1,1729,0,0,2,0.000000,0,"['ACVA', 'ADI', 'AGI', 'AGR', 'ALIT', 'AMK', '...","{'index': 1, 'url': 'https://www.benzinga.com/..."
2,2024-02-14T19:15:24Z,Insights,wrap-up,How Is The Market Feeling About Coca-Cola Cons...,1.0,0,0.005618,0.0,17,0,-1,178,0,0,3,0.055082,0,[],"{'index': 2, 'url': 'https://www.benzinga.com/..."

In [17]:
df.iloc[13,18]

"{'index': 13, 'url': 'https://www.benzinga.com/news/earnings/23/08/33514056/earnings-scheduled-for-august-2-2023', 'summary': 'Companies Reporting Before The Bell\\n\\n• Vanguard Extended Duration Treasury ETF (NYSE:EDV) is estimated to report quarterly earnings at $0.37 per share on revenue of $784.53 million.', 'image': [{'size': 'large', 'url': 'https://cdn.benzinga.com/files/imagecache/2048x1536xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'small', 'url': 'https://cdn.benzinga.com/files/imagecache/1024x768xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'thumb', 'url': 'https://cdn.benzinga.com/files/imagecache/250x187xUP/images/story/2023/earnings_image.jpeg'}]}"

In [21]:
df.iloc[:, 16] = df.iloc[:, 16].astype(str)

In [22]:
df.iloc[13,16] = 'EO' ##Event Outcome

In [23]:
df.iloc[13,18]

"{'index': 13, 'url': 'https://www.benzinga.com/news/earnings/23/08/33514056/earnings-scheduled-for-august-2-2023', 'summary': 'Companies Reporting Before The Bell\\n\\n• Vanguard Extended Duration Treasury ETF (NYSE:EDV) is estimated to report quarterly earnings at $0.37 per share on revenue of $784.53 million.', 'image': [{'size': 'large', 'url': 'https://cdn.benzinga.com/files/imagecache/2048x1536xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'small', 'url': 'https://cdn.benzinga.com/files/imagecache/1024x768xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'thumb', 'url': 'https://cdn.benzinga.com/files/imagecache/250x187xUP/images/story/2023/earnings_image.jpeg'}]}"

In [18]:
df.iloc[8,18]

"{'index': 8, 'url': 'https://www.benzinga.com/news/earnings/23/11/35530611/earnings-scheduled-for-november-1-2023', 'summary': 'Companies Reporting Before The Bell\\n\\n• GSK (NYSE:GSK) is expected to report quarterly earnings at $1.07 per share on revenue of $9.37 billion.', 'image': [{'size': 'large', 'url': 'https://cdn.benzinga.com/files/imagecache/2048x1536xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'small', 'url': 'https://cdn.benzinga.com/files/imagecache/1024x768xUP/images/story/2023/earnings_image.jpeg'}, {'size': 'thumb', 'url': 'https://cdn.benzinga.com/files/imagecache/250x187xUP/images/story/2023/earnings_image.jpeg'}]}"

In [24]:
df.iloc[8,16] = 'EO' ##Event Outcome

In [19]:
df.iloc[52,18]

"{'index': 52, 'url': 'https://www.benzinga.com/news/earnings/21/11/23974533/earnings-scheduled-for-november-9-2021', 'summary': '\\xa0\\n\\nCompanies Reporting Before The Bell\\n\\n• Imara (NASDAQ:IMRA) is projected to report earnings for its third quarter.\\n\\n• KT (NYSE:KT) is projected to report earnings for its third quarter.', 'image': [{'size': 'large', 'url': 'https://cdn.benzinga.com/files/imagecache/2048x1536xUP/images/story/2021/earnings_image_688.jpeg'}, {'size': 'small', 'url': 'https://cdn.benzinga.com/files/imagecache/1024x768xUP/images/story/2021/earnings_image_688.jpeg'}, {'size': 'thumb', 'url': 'https://cdn.benzinga.com/files/imagecache/250x187xUP/images/story/2021/earnings_image_688.jpeg'}]}"

In [25]:
df.iloc[52,16] = 'EO' ##Event Outcome

In [26]:
df

,attribute0,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,attribute10,attribute11,attribute12,attribute13,attribute14,attribute15,attribute16,attribute17,attribute18
0,2024-02-21T21:53:56Z,Newsdesk,wrap-up,Coca-Cola Consolidated Q4 Adj $13.39 Down From...,0.0,0,0.000000,NaN,0,0,-1,5,0,0,1,0.000000,0,[],"{'index': 0, 'url': 'https://www.benzinga.com/..."
1,2024-02-21T10:09:04Z,Insights,wrap-up,"Earnings Scheduled For February 21, 2024",1.0,0,0.000578,0.0,164,162,-1,1729,0,0,2,0.000000,0,"['ACVA', 'ADI', 'AGI', 'AGR', 'ALIT', 'AMK', '...","{'index': 1, 'url': 'https://www.benzinga.com/..."
2,2024-02-14T19:15:24Z,Insights,wrap-up,How Is The Market Feeling About Coca-Cola Cons...,1.0,0,0.005618,0.0,17,0,-1,178,0,0,3,0.055082,0,[],"{'index': 2, 'url': 'https://www.benzinga.com/..."
3,2024-01-22T14:45:50Z,Insights,wrap-up,Coca-Cola Consolidated: Dividend Insights,1.0,0,0.011494,0.0,9,0,-1,87,0,0,4,0.112546,0,[],"{'index': 3, 'url': 'https://www.benzinga.com/..."
4,2024-01-17T13:19:08Z,article,Exclusive,Top 3 Defensive Stocks That May Fall Off A Cli...,0.0,0,0.042254,NaN,6,2,-1,71,0,0,5,0.145718,0,"['NHTC', 'NOMD']","{'index': 4, 'url': 'https://www.benzinga.com/..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2015-05-05T21:37:28Z,NaN,wrap-up,"Coca-Cola Bottling Reports Q1 EPS $0.24, Sales...",0.0,0,0.000000,NaN,0,0,-1,4,0,0,5,0.000000,0,[],"{'index': 166, 'url': 'https://www.benzinga.co..."
167,2015-03-04T21:13:53Z,NaN,wrap-up,UPDATE: Coca Cola Bottling Reports Q4 Adj EPS ...,0.0,0,0.000000,NaN,0,0,-1,7,0,0,1,0.000000,0,[],"{'index': 167, 'url': 'https://www.benzinga.co..."
168,2015-03-04T21:10:58Z,NaN,wrap-up,Coca Cola Bottling Reports Q4 EPS $0.32 Vs Est...,0.0,0,0.000000,NaN,0,0,-1,8,0,0,2,1.000000,0,[],"{'index': 168, 'url': 'https://www.benzinga.co..."
169,2015-03-04T10:09:57Z,NaN,wrap-up,"Earnings Scheduled For March 4, 2015",0.0,0,0.000000,NaN,0,26,-1,3,0,0,3,1.000000,0,"['AEO', 'ALG', 'ALSK', 'AMED', 'ANF', 'ATHM', ...","{'index': 169, 'url': 'https://www.benzinga.co..."
170,2015-02-17T21:24:24Z,NaN,wrap-up,Coca-Cola Bottling Co. Consolidated Announces ...,0.0,0,0.000000,NaN,0,1,-1,8,0,0,4,1.000000,0,['KO'],"{'index': 170, 'url': 'https://www.benzinga.co..."

In [29]:
def set_attribute5(row):
    if row['attribute6'] <= 0.020:
        return -1
    elif 0.21 <= row['attribute6'] <= 0.30:
        return 0
    elif row['attribute6'] > 0.31:
        return 1
    else:
        return row['attribute5']  

df['attribute5'] = df.apply(set_attribute5, axis=1)

In [30]:
df

,attribute0,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,attribute10,attribute11,attribute12,attribute13,attribute14,attribute15,attribute16,attribute17,attribute18
0,2024-02-21T21:53:56Z,Newsdesk,wrap-up,Coca-Cola Consolidated Q4 Adj $13.39 Down From...,0.0,-1,0.000000,NaN,0,0,-1,5,0,0,1,0.000000,0,[],"{'index': 0, 'url': 'https://www.benzinga.com/..."
1,2024-02-21T10:09:04Z,Insights,wrap-up,"Earnings Scheduled For February 21, 2024",1.0,-1,0.000578,0.0,164,162,-1,1729,0,0,2,0.000000,0,"['ACVA', 'ADI', 'AGI', 'AGR', 'ALIT', 'AMK', '...","{'index': 1, 'url': 'https://www.benzinga.com/..."
2,2024-02-14T19:15:24Z,Insights,wrap-up,How Is The Market Feeling About Coca-Cola Cons...,1.0,-1,0.005618,0.0,17,0,-1,178,0,0,3,0.055082,0,[],"{'index': 2, 'url': 'https://www.benzinga.com/..."
3,2024-01-22T14:45:50Z,Insights,wrap-up,Coca-Cola Consolidated: Dividend Insights,1.0,-1,0.011494,0.0,9,0,-1,87,0,0,4,0.112546,0,[],"{'index': 3, 'url': 'https://www.benzinga.com/..."
4,2024-01-17T13:19:08Z,article,Exclusive,Top 3 Defensive Stocks That May Fall Off A Cli...,0.0,-1,0.042254,NaN,6,2,-1,71,0,0,5,0.145718,0,"['NHTC', 'NOMD']","{'index': 4, 'url': 'https://www.benzinga.com/..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2015-05-05T21:37:28Z,NaN,wrap-up,"Coca-Cola Bottling Reports Q1 EPS $0.24, Sales...",0.0,-1,0.000000,NaN,0,0,-1,4,0,0,5,0.000000,0,[],"{'index': 166, 'url': 'https://www.benzinga.co..."
167,2015-03-04T21:13:53Z,NaN,wrap-up,UPDATE: Coca Cola Bottling Reports Q4 Adj EPS ...,0.0,-1,0.000000,NaN,0,0,-1,7,0,0,1,0.000000,0,[],"{'index': 167, 'url': 'https://www.benzinga.co..."
168,2015-03-04T21:10:58Z,NaN,wrap-up,Coca Cola Bottling Reports Q4 EPS $0.32 Vs Est...,0.0,-1,0.000000,NaN,0,0,-1,8,0,0,2,1.000000,0,[],"{'index': 168, 'url': 'https://www.benzinga.co..."
169,2015-03-04T10:09:57Z,NaN,wrap-up,"Earnings Scheduled For March 4, 2015",0.0,-1,0.000000,NaN,0,26,-1,3,0,0,3,1.000000,0,"['AEO', 'ALG', 'ALSK', 'AMED', 'ANF', 'ATHM', ...","{'index': 169, 'url': 'https://www.benzinga.co..."
170,2015-02-17T21:24:24Z,NaN,wrap-up,Coca-Cola Bottling Co. Consolidated Announces ...,0.0,-1,0.000000,NaN,0,1,-1,8,0,0,4,1.000000,0,['KO'],"{'index': 170, 'url': 'https://www.benzinga.co..."

In [55]:
new_df = df[['attribute0', 'attribute4', 'attribute5', 'attribute6']]

In [56]:
new_df

               attribute0  attribute4  attribute5  attribute6
0    2024-02-21T21:53:56Z         0.0          -1    0.000000
1    2024-02-21T10:09:04Z         1.0          -1    0.000578
2    2024-02-14T19:15:24Z         1.0          -1    0.005618
3    2024-01-22T14:45:50Z         1.0          -1    0.011494
4    2024-01-17T13:19:08Z         0.0          -1    0.042254
..                    ...         ...         ...         ...
166  2015-05-05T21:37:28Z         0.0          -1    0.000000
167  2015-03-04T21:13:53Z         0.0          -1    0.000000
168  2015-03-04T21:10:58Z         0.0          -1    0.000000
169  2015-03-04T10:09:57Z         0.0          -1    0.000000
170  2015-02-17T21:24:24Z         0.0          -1    0.000000

[171 rows x 4 columns]

In [57]:
# 创建新的DataFrame来避免在视图上操作
new_df = new_df.copy()

# 转换日期格式
new_df['attribute0'] = pd.to_datetime(new_df['attribute0']).dt.strftime('%Y-%m-%d')
new_df['attribute0'] = pd.to_datetime(new_df['attribute0'])
# new_df = new_df.assign(attribute0=pd.to_datetime(new_df['attribute0']).dt.strftime('%Y-%m-%d'))

In [58]:
new_df

    attribute0  attribute4  attribute5  attribute6
0   2024-02-21         0.0          -1    0.000000
1   2024-02-21         1.0          -1    0.000578
2   2024-02-14         1.0          -1    0.005618
3   2024-01-22         1.0          -1    0.011494
4   2024-01-17         0.0          -1    0.042254
..         ...         ...         ...         ...
166 2015-05-05         0.0          -1    0.000000
167 2015-03-04         0.0          -1    0.000000
168 2015-03-04         0.0          -1    0.000000
169 2015-03-04         0.0          -1    0.000000
170 2015-02-17         0.0          -1    0.000000

[171 rows x 4 columns]

In [59]:
import yfinance as yf
dates = new_df['attribute0']
ko_data = yf.download('KO', start=min(dates), end=max(dates) + pd.Timedelta(days=1))

# Calculate the daily returns
ko_data['Daily_Return'] = ko_data['Adj Close'].pct_change()

# Filter the dates to only those in your list
ko_returns_on_dates = ko_data.loc[ko_data.index.isin(dates)]

C:\Users\wzy\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [60]:
ko_returns_on_dates

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2015-02-17,41.810001,41.880001,41.639999,41.810001,31.351137,12804200,NaN
2015-03-04,42.919998,42.980000,42.470001,42.500000,31.868525,16263000,-0.010478
2015-05-05,41.139999,41.139999,40.680000,40.750000,30.809839,11721300,-0.005127
2015-05-13,40.750000,41.360001,40.720001,41.049999,31.036657,13183700,0.008847
2015-05-22,41.119999,41.240002,41.040001,41.209999,31.157637,11909500,-0.000485
...,...,...,...,...,...,...,...
2023-12-15,58.830002,59.169998,57.799999,58.599998,58.599998,65172300,-0.007453
2024-01-17,59.860001,60.209999,59.820000,59.990002,59.990002,8982100,0.000000
2024-01-22,59.759998,60.070000,59.439999,59.570000,59.570000,14314300,-0.004346
2024-02-14,59.169998,59.590000,59.040001,59.290001,59.290001,15872500,-0.001011
2024-02-21,60.990002,61.279999,60.830002,61.240002,61.240002,14378300,0.008896

In [61]:
new_df.rename(columns={'attribute0': 'Date'}, inplace=True)

In [62]:
new_df.set_index('Date', inplace=True)

In [65]:
new_df.rename(columns={'attribute0': 'Date'}, inplace=True)
merged_df = pd.merge(new_df, ko_returns_on_dates[['Daily_Return']], 
                     left_on='Date', right_on='Date', how='left')

In [66]:
merged_df

            attribute4  attribute5  attribute6  Daily_Return
Date
2024-02-21         0.0          -1    0.000000      0.008896
2024-02-21         1.0          -1    0.000578      0.008896
2024-02-14         1.0          -1    0.005618     -0.001011
2024-01-22         1.0          -1    0.011494     -0.004346
2024-01-17         0.0          -1    0.042254      0.000000
...                ...         ...         ...           ...
2015-05-05         0.0          -1    0.000000     -0.005127
2015-03-04         0.0          -1    0.000000     -0.010478
2015-03-04         0.0          -1    0.000000     -0.010478
2015-03-04         0.0          -1    0.000000     -0.010478
2015-02-17         0.0          -1    0.000000           NaN

[171 rows x 4 columns]